SUBSYSTEM=="input", ATTRS{ID_PATH}=="*usb-0:1.2.1*", ATTRS{DEVLINKS}=="*kbd*", SYMLINK+="footswitch1"
SUBSYSTEM=="input", ATTRS{ID_PATH}=="*usb-0:1.2.2*", ATTRS{DEVLINKS}=="*kbd*", SYMLINK+="footswitch2"
SUBSYSTEM=="input", ATTRS{ID_PATH}=="*usb-0:1.2.3*", ATTRS{DEVLINKS}=="*kbd*", SYMLINK+="footswitch3"
