SUBSYSTEM=="input", ENV{ID_PATH}=="*usb-0:1.2.1*", ENV{DEVLINKS}=="*kbd*", SYMLINK+="footswitch1"
SUBSYSTEM=="input", ENV{ID_PATH}=="*usb-0:1.2.2*", ENV{DEVLINKS}=="*kbd*", SYMLINK+="footswitch2"
SUBSYSTEM=="input", ENV{ID_PATH}=="*usb-0:1.2.3*", ENV{DEVLINKS}=="*kbd*", SYMLINK+="footswitch3"
