SUBSYSTEM=="input", ATTRS{phys}=="*usb-1.2.2*", ATTRS{name}=="MKEYBOARD Keyboard", SYMLINK+="footswitch1"
SUBSYSTEM=="input", ATTRS{phys}=="*usb-1.2.3*", ATTRS{name}=="MKEYBOARD Keyboard", SYMLINK+="footswitch2"
SUBSYSTEM=="input", ATTRS{phys}=="*usb-1.2.5*", ATTRS{name}=="MKEYBOARD Keyboard", SYMLINK+="footswitch3"
  
