[Unit]
Description=Footswitch Audio Player Service
After=network.target

[Service]
ExecStart=/home/pi/zeughaus-switch/env/bin/python3 /home/pi/zeughaus-switch/script.py
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
